# doz-ssr
DOZ server-side rendering

<a href="https://opensource.org/licenses/MIT" target="_blank"><img src="https://img.shields.io/badge/License-MIT-yellow.svg" title="License: MIT"/></a>

## Installation

```
npm install doz-ssr
```

## Example with Koa

#### server.js

```js
const Koa = require('koa');
const serve = require('koa-static');
const body = require('koa-body');
const DozSSR = require('doz-ssr');

const dozSSR = new DozSSR('./dist/index.html');

new Koa()
    .use(serve('./public', {index: false}))
    .use(body())
    .use(async ctx => {
        const [content] = await dozSSR.render(ctx.url, {
            baseUrl: ctx.protocol + '://' + ctx.host
        });
        ctx.body = content;
    })
    .listen(3000);
```

#### bundle.js

**IMPORTANT**, since 2.0.0 is necessary call `window.SSR.ready()` inside your Doz app

```js
new Doz({
    root: '#app',
    template(h) {
        return h`
            <div class="container"></div>
        `
    },
    onMount() {
        if (window.SSR)
            window.SSR.ready();
    }
});
```

#### index.html

```html
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyApp</title>
</head>
<body>
    <div id="app"></div>
    <script id="bundle" src="/bundle.js"></script>
</body>
</html>
```

## API

{{>main}}

## PLUGIN

Check if environment is server side from your app

```js
import isSSR from 'doz-ssr/plugin'

Doz.use(isSSR);

// You now can call isSSR() method inside your app
Doz.component('my-component', function(h){
    return h`<div>is server? ${this.isSSR()}</div>`
})
```

## Changelog
You can view the changelog <a target="_blank" href="https://github.com/dozjs/doz-ssr/blob/master/CHANGELOG.md">here</a>

## License
doz-ssr is open-sourced software licensed under the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT license</a>

## Author
<a target="_blank" href="http://rica.li">Fabio Ricali</a>